button {
  font-size: 0.7rem;
  border-radius: 1em;
  border: '2px solid yellow';
  padding: 0.5em;
  cursor: pointer;
}
/* 
button button:hover {
  background-color: black !important;
  color: white;
} */

button.lightMode {
  background-color: white;
  color: black;
}
button.darkMode {
  background-color: black;
  color: white;
}
