.container {
  width: 250px;
  padding: 5px;
  margin: 3px;
  height: 185px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container.darkMode {
  background-color: white;
  color: black;
}

.container.lightMode {
  background-color: white;
  color: black;
}

.close {
  position: absolute;
  right: 0;
  margin-right: 2px;
  top: 0;
  font-size: 0.7rem;
  border-radius: 80px;
  text-align: center;
  border-block-color: red;
  border-block-end-color: blue;
  margin-top: 2px;
}

.close.darkMode {
  background-color: black;
  color: white;
}

.close.lightMode {
  background-color: white;
  color: black;
}
.edit.darkMode {
  background-color: black;
  color: white;
}

.edit.lightMode {
  background-color: white;
  color: black;
}

.edit {
  position: absolute;
  right: 4em;
  top: 0;
  font-size: 0.7rem;
  border-radius: 80px;
  text-align: center;
  border-block-color: red;
  border-block-end-color: blue;
  margin-top: 2px;
}
