.container {
  width: 250px;
  padding: 5px;
  margin: 3px;
  height: 185px;
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
  color: white;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.7rem;
  border-radius: 80px;
  text-align: center;
}
.edit {
  position: absolute;
  right: 4em;
  top: 0;
  font-size: 0.7rem;
  border-radius: 80px;
  text-align: center;
}
